.storybook-buttons {
  font-family: 'lato';
  cursor: pointer;
  color: #1c130c;
  text-align: center;
}

/* Medium */
.storybook-buttons--mdprimaryinitial {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.25px;
  padding: 16px;
  background: #ff9d3f;
  border-radius: 8px;
  width: 88px;
}

.storybook-buttons--mdsecondaryinitial {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ffffff;
  border: 2px solid #ef6c00;
  border-radius: 8px;
  width: 88px;
  padding: 16px;
}

.storybook-buttons--mdsubtleinitial {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ffffff;
  border: 2px solid #63564c;
  border-radius: 8px;
  width: 88px;
  padding: 16px;
}

.storybook-buttons--mdtextinitial {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  width: 53px;
  text-decoration-line: underline;
  text-decoration-color: #ef6c00;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

.storybook-buttons--mdprimaryhover {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ef6c00;
  border-radius: 8px;
  width: 88px;
  padding: 16px;
}

.storybook-buttons--mdsecondaryhover {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ffffff;
  border: 2px solid #b53d00;
  border-radius: 8px;
  width: 88px;
  padding: 16px;
}

.storybook-buttons--mdsubtlehover {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: var(--orange-bg);
  border: 2px solid #63564c;
  border-radius: 8px;
  width: 88px;
  padding: 16px;
}

.storybook-buttons--mdtexthover {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  width: 53px;
  text-decoration-line: underline;
  text-decoration-color: #b53d00;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

.storybook-buttons--mdprimaryfocus {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ff9d3f;
  border: 8px solid #ffe0b2;
  border-radius: 8px;
  width: 88px;
  padding: 16px;
}

.storybook-buttons--mdsecondaryfocus {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ffffff;
  border: 2px solid #ef6c00;
  border-radius: 8px;
  width: 88px;
  padding: 16px;
}

.storybook-buttons--mdsubtlefocus {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ffffff;
  border: 2px solid #63564c;
  border-radius: 8px;
  width: 88px;
  padding: 16px;
}

.storybook-buttons--mdtextfocus {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  width: 72px;
  padding: 8px;
  text-decoration-line: underline;
  text-decoration-color: #b53d00;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  background: #ffe0b2;
  border: 8px solid #ffe0b2;
  border-radius: 8px;
}

.storybook-buttons--mdprimaryactive {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ef6c00;
  border: 2px solid #b53d00;
  border-radius: 8px;
  width: 86px;
  padding: 15px;
}

.storybook-buttons--mdsecondaryactive {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  border: 2px solid #b53d00;
  border-radius: 8px;
  width: 86px;
  padding: 15px;
}

.storybook-buttons--mdsubtleactive {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: var(--orange-bg);
  border: 2px solid #63564c;
  border-radius: 8px;
  width: 86px;
  padding: 15px;
}

.storybook-buttons--mdtextactive {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  width: 53px;
  text-decoration-line: underline;
  text-decoration-color: #b53d00;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

.storybook-buttons--mdprimaryloading {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ff9d3f;
  border-radius: 8px;
  width: 88px;
  padding: 17px;
}

.storybook-buttons--mdsecondaryloading {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ffffff;
  border: 2px solid #ef6c00;
  border-radius: 8px;
  width: 88px;
  padding: 17px;
}

.storybook-buttons--mdsubtleloading {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  border: 2px solid #bdb4ad;
  border-radius: 8px;
  width: 88px;
  padding: 17px;
}

.storybook-buttons--mdtextloading {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  width: 62px;
  text-decoration-line: underline;
  text-decoration-color: #ef6c00;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

.storybook-buttons--mdprimarydisabled {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ff9d3f;
  opacity: 0.5;
  border-radius: 8px;
  width: 88px;
  padding: 16px;
}

.storybook-buttons--mdsecondarydisabled {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  border: 2px solid #ef6c00;
  border-radius: 8px;
  width: 88px;
  padding: 16px;
}

.storybook-buttons--mdsubtledisabled {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  opacity: 0.5;
  border: 2px solid #63564c;
  border-radius: 8px;
  width: 88px;
  padding: 16px;
}

.storybook-buttons--mdtextdisabled {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  width: 53px;
  opacity: 0.5;
  text-decoration-line: underline;
  text-decoration-color: #ef6c00;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  padding: 14px 0px;
}

/* Large */
.storybook-buttons--lgprimaryinitial {
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.25px;
  padding: 16px;
  background: #ff9d3f;
  border-radius: 8px;
  width: 96px;
}

.storybook-buttons--lgsecondaryinitial {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ffffff;
  border: 2px solid #ef6c00;
  border-radius: 8px;
  width: 96px;
  padding: 16px;
}

.storybook-buttons--lgsubtleinitial {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ffffff;
  border: 2px solid #63564c;
  border-radius: 8px;
  width: 96px;
  padding: 16px;
}

.storybook-buttons--lgtextinitial {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  width: 53px;
  text-decoration-line: underline;
  text-decoration-color: #ef6c00;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

.storybook-buttons--lgprimaryhover {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ef6c00;
  border-radius: 8px;
  width: 96px;
  padding: 16px;
}

.storybook-buttons--lgsecondaryhover {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ffffff;
  border: 2px solid #b53d00;
  border-radius: 8px;
  width: 96px;
  padding: 16px;
}

.storybook-buttons--lgsubtlehover {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: var(--orange-bg);
  border: 2px solid #63564c;
  border-radius: 8px;
  width: 96px;
  padding: 16px;
}

.storybook-buttons--lgtexthover {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  width: 53px;
  text-decoration-line: underline;
  text-decoration-color: #b53d00;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

.storybook-buttons--lgprimaryfocus {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ff9d3f;
  border: 8px solid #ffe0b2;
  border-radius: 8px;
  width: 96px;
  padding: 16px;
}

.storybook-buttons--lgsecondaryfocus {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ffffff;
  border: 2px solid #ef6c00;
  border-radius: 8px;
  width: 96px;
  padding: 16px;
}

.storybook-buttons--lgsubtlefocus {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ffffff;
  border: 2px solid #63564c;
  border-radius: 8px;
  width: 96px;
  padding: 16px;
}

.storybook-buttons--lgtextfocus {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  width: 72px;
  padding: 8px;
  text-decoration-line: underline;
  text-decoration-color: #b53d00;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  background: #ffe0b2;
  border: 8px solid #ffe0b2;
  border-radius: 8px;
}

.storybook-buttons--lgprimaryactive {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ef6c00;
  border: 2px solid #b53d00;
  border-radius: 8px;
  width: 96px;
  padding: 15px;
}

.storybook-buttons--lgsecondaryactive {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  border: 2px solid #b53d00;
  border-radius: 8px;
  width: 96px;
  padding: 15px;
}

.storybook-buttons--lgsubtleactive {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: var(--orange-bg);
  border: 2px solid #63564c;
  border-radius: 8px;
  width: 96px;
  padding: 15px;
}

.storybook-buttons--lgtextactive {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  width: 53px;
  text-decoration-line: underline;
  text-decoration-color: #b53d00;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

.storybook-buttons--lgprimaryloading {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ff9d3f;
  border-radius: 8px;
  width: 96px;
  padding: 17px;
}

.storybook-buttons--lgsecondaryloading {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ffffff;
  border: 2px solid #ef6c00;
  border-radius: 8px;
  width: 96px;
  padding: 17px;
}

.storybook-buttons--lgsubtleloading {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  border: 2px solid #bdb4ad;
  border-radius: 8px;
  width: 96px;
  padding: 17px;
}

.storybook-buttons--lgtextloading {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  width: 62px;
  text-decoration-line: underline;
  text-decoration-color: #ef6c00;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

.storybook-buttons--lgprimarydisabled {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: #ff9d3f;
  opacity: 0.5;
  border-radius: 8px;
  width: 96px;
  padding: 16px;
}

.storybook-buttons--lgsecondarydisabled {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  border: 2px solid #ef6c00;
  border-radius: 8px;
  width: 96px;
  padding: 16px;
}

.storybook-buttons--lgsubtledisabled {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  opacity: 0.5;
  border: 2px solid #63564c;
  border-radius: 8px;
  width: 96px;
  padding: 16px;
}

.storybook-buttons--lgtextdisabled {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1.25px;
  width: 53px;
  opacity: 0.5;
  text-decoration-line: underline;
  text-decoration-color: #ef6c00;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  padding: 14px 0px;
}

/* Small */
.storybook-buttons--smprimaryinitial {
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.25px;
  padding: 16px;
  background: #ff9d3f;
  border-radius: 8px;
  width: 66px;
}

.storybook-buttons--smsecondaryinitial {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: #ffffff;
  border: 2px solid #ef6c00;
  border-radius: 8px;
  width: 66px;
  padding: 16px;
}

.storybook-buttons--smsubtleinitial {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: #ffffff;
  border: 2px solid #63564c;
  border-radius: 8px;
  width: 66px;
  padding: 16px;
}

.storybook-buttons--smtextinitial {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  width: 53px;
  text-decoration-line: underline;
  text-decoration-color: #ef6c00;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

.storybook-buttons--smprimaryhover {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: #ef6c00;
  border-radius: 8px;
  width: 66px;
  padding: 16px;
}

.storybook-buttons--smsecondaryhover {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: #ffffff;
  border: 2px solid #b53d00;
  border-radius: 8px;
  width: 66px;
  padding: 16px;
}

.storybook-buttons--smsubtlehover {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: var(--orange-bg);
  border: 2px solid #63564c;
  border-radius: 8px;
  width: 66px;
  padding: 16px;
}

.storybook-buttons--smtexthover {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  width: 53px;
  text-decoration-line: underline;
  text-decoration-color: #b53d00;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

.storybook-buttons--smprimaryfocus {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: #ff9d3f;
  border: 8px solid #ffe0b2;
  border-radius: 8px;
  width: 66px;
  padding: 16px;
}

.storybook-buttons--smsecondaryfocus {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: #ffffff;
  border: 2px solid #ef6c00;
  border-radius: 8px;
  width: 66px;
  padding: 16px;
}

.storybook-buttons--smsubtlefocus {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: #ffffff;
  border: 2px solid #63564c;
  border-radius: 8px;
  width: 66px;
  padding: 16px;
}

.storybook-buttons--smtextfocus {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  width: 72px;
  padding: 8px;
  text-decoration-line: underline;
  text-decoration-color: #b53d00;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  background: #ffe0b2;
  border: 8px solid #ffe0b2;
  border-radius: 8px;
}

.storybook-buttons--smprimaryactive {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  border: 2px solid #b53d00;
  border-radius: 8px;
  width: 66px;
  padding: 15px;
}

.storybook-buttons--smsecondaryactive {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  border: 2px solid #b53d00;
  border-radius: 8px;
  width: 66px;
  padding: 15px;
}

.storybook-buttons--smsubtleactive {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: var(--orange-bg);
  border: 2px solid #63564c;
  border-radius: 8px;
  width: 66px;
  padding: 15px;
}

.storybook-buttons--smtextactive {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  width: 53px;
  text-decoration-line: underline;
  text-decoration-color: #b53d00;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

.storybook-buttons--smprimaryloading {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: #ff9d3f;
  border-radius: 8px;
  width: 66px;
  padding: 17px;
}

.storybook-buttons--smsecondaryloading {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: #ffffff;
  border: 2px solid #ef6c00;
  border-radius: 8px;
  width: 66px;
  padding: 17px;
}

.storybook-buttons--smsubtleloading {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  border: 2px solid #bdb4ad;
  border-radius: 8px;
  width: 66px;
  padding: 17px;
}

.storybook-buttons--smtextloading {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  width: 62px;
  text-decoration-line: underline;
  text-decoration-color: #ef6c00;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
}

.storybook-buttons--smprimarydisabled {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: #ff9d3f;
  opacity: 0.5;
  border-radius: 8px;
  width: 66px;
  padding: 16px;
}

.storybook-buttons--smsecondarydisabled {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0.5;
  border: 2px solid #ef6c00;
  border-radius: 8px;
  width: 66px;
  padding: 16px;
}

.storybook-buttons--smsubtledisabled {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  opacity: 0.5;
  border: 2px solid #63564c;
  border-radius: 8px;
  width: 66px;
  padding: 16px;
}

.storybook-buttons--smtextdisabled {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1.25px;
  width: 53px;
  opacity: 0.5;
  text-decoration-line: underline;
  text-decoration-color: #ef6c00;
  text-decoration-style: solid;
  text-decoration-thickness: 2px;
  padding: 14px 0px;
}
